/* FONTS */
@font-face {
 font-family: "KronaOne";
 src: url("/fonts/KronaOne-Regular.woff") format("woff");
}

body {
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "KronaOne";
}

.container {
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

.presentation {
  margin: 0;
}

.section {
  height: 50vh;
  width: 100vw;
}

.section-1 {
  padding-top: 100px;
  background: rgb(17, 17, 17);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.section-1 h1 {
  -webkit-text-stroke: 1px #EFF1F3;
  color:transparent;
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: normal;
}

.right {
  margin: 0px 0px 0 100px;
  border-right: 1px solid #EFF1F3;
}

.left {
  display: flex;
  margin: 0px 100px 0 0;
  justify-content: center;
  align-items: center;
}

.svg-anim {
  background: rgb(17, 17, 17);;

  height:100px;
  background-image: url("images/wave.svg");

  background-repeat:repeat-x;
  animation: wave 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;

  width:6000px;
}

.svg-anim svg {
  background: white;

}

@keyframes wave {
  0% {
    transform:translateX(0px);
  }
  100% {
    transform:translateX(-1050px);
  }
}

.section-2  {
  background: white;
  width: auto;
  height: auto;
}

.section-3 {
  background: #EFF1F3;
}

.card-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 50px 0px 0px 0px;
}

.card {
  margin: 0 auto;
  height: 100px;
  width: 250px;
  padding: 0px 0px 0 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s;
}

.card-1, .card-5 {
  background: rgb(17, 17, 17);
}

.card-2, .card-4 {
 background: rgb(17, 149, 125);
}

.card-3 {
  background: #F8AEDA;
}

.card:hover {
  transform: translateY(-200px);
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s;
}

.card p {
  opacity: 0;
  transition: 0.5s;
  color: white;
  font-size: 12px;
}

.card:hover p {
  display: block;
  opacity: 1;
  transition: 0.5s;
}

.card-5 .follow-me {
  opacity: 0;
  transition: 0.5s;
  padding: 0;
  list-style: none;
}

.card-5:hover .follow-me {
  opacity: 1;
  transition: 0.5s;
  padding: 0;
  list-style: none;
}

.social {
  color: #EFF1F3;
  font-size: 50px;
}

.social-span {
  font-size: 10px;
}


.card h3 {
  font-weight: normal;
  color: #EFF1F3;
  font-family: "KronaOne";
  font-size: 20px;
}

.card ul {
  padding: 0;
}

.green-h1 {
  -webkit-text-stroke: 1px rgb(17, 149, 125);
  color:rgb(17, 149, 125);
}

.pink-h1 {
  -webkit-text-stroke: 1px #F8AEDA;
  color: #F8AEDA;
}
