/* FONTS */
@font-face {
 font-family: "KronaOne";
 src: url("fonts/KronaOne-Regular.woff") format("woff");
}

body {
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "KronaOne";
}

.container {
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

.presentation {
  margin: 0;
}

.section {
  height: 50vh;
  width: 100vw;
}





.section-1 {
  padding-top: 50px;
  background: rgb(17, 17, 17);
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
}

.grid-header {
  width: 500px;
  height: 300px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .right {
  margin: 0px 0px 0 100px;
  border-right: 1px solid #EFF1F3;
}

.left {
  display: flex;
  margin: 0px 100px 0 0;
  justify-content: center;
  align-items: center;
} */





.section-1 h1 {
  -webkit-text-stroke: 1px #EFF1F3;
  color:transparent;
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: normal;
}



.svg-anim {
  background: rgb(17, 17, 17);
  overflow-x: hidden;
  height:100px;
  background-image: url("images/wave.svg");

  background-repeat:repeat-x;
  animation: wave 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;

  width:6000px;
}

.svg-anim svg {
  background: white;
}

@keyframes wave {
  0% {
    transform:translateX(0px);
  }
  100% {
    transform:translateX(-1050px);
  }
}

.section-2  {
  background: white;
  width: auto;
  height: auto;
}

.section-3 {
  background: #EFF1F3;
}

.social {
  color: #EFF1F3;
  font-size: 50px;
}

.social-span {
  font-size: 10px;
}


.card h3 {
  font-weight: normal;
  color: #EFF1F3;
  font-family: "KronaOne";
  font-size: 20px;
}

.green-h1 {
  -webkit-text-stroke: 1px rgb(17, 149, 125);
  color:rgb(17, 149, 125);
}

.pink-h1 {
  -webkit-text-stroke: 1px #F8AEDA;
  color: #F8AEDA;
}

.grid-container {
  max-width: 1300px;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 10px;
}

.card {
  width: 230px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
}

.card:hover {

  transition: 0.5s;
}

.card p {
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
  color: #EFF1F3;
}


.card h1 {
  font-size: 24px;
  color: #EFF1F3;
  text-align: center;
}

.card-1, .card-5 {
  background: rgb(17, 17, 17);
}

.card-3{
  background: #F8AEDA;;
}

.card-2, .card-4 {
 background: rgb(17, 149, 125);;
}


@media (max-width: 640px) {
  .card-product {
    grid-template-areas: "a" "d" "b" "c" "e";
    grid-template-columns: 1fr;
  }
}
